<div class="container">
  <h2>Welcome <%= @user.username %>!</h2>

  <h3>To my super secret special page!</h3>
  <p>-nothing really special about, but you can use my giphy finder to make API calls to Giphy!</p>

  <p>Enter a word or phrase and see what comes up</p>

  <p>oh wow, thats a lot of cats!  Forgot to mention that every search will end with a cat catch phrase turning all returned giphies into cat giphies!</p>

</div>