<h1 style="text-shadow: 3px 3px black; font-size: 100px; text-align: center; margin-top: 200px; color: #D3F3FE">Hi, My name is Josh </h1>


<div id="intro">
	<div class="story">
		<div class="bf"></div>
		<div class="float-left">
			<h2 style="text-shadow: 1px 1px white;">About me - </h2>
			<table >
				<tr>
					<td >
					<p>Born and raised in the foothills of the Sierra Nevada Mountains in Northern California, where I spent most of my days floating down the American River, Hiking in the mountains or Snowboarding in the Sierra Resorts.  Now, I still enjoy all those things but get to include my family in my adventures</p>
					
					<p>After graduating from El Dorado High School I joined the United States Air Force, where I was able to travel the world and meet new and interesting people.  I completed my enlistment in 2004 and returned home to work in the family business, Home Building.  By 2010 I decided I need a change and went back to school enrolling at the local Junior College first then later at Grantham University.  I graduated in 2017 with a Bachelor of Science in Computer Science.  Feeling that I still need more education I applied and was accepted to Dev Bootcamp in San Francisco during the end of my course work in college.  I completed DBC in the fall of 2017 and now look forward to a promising and rewarding career in Software & App Development, both Web and Mobile.</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!--.story-->
</div>
<!--#intro-->
<div id="second">
	<div class="story">
		<div class="bg"></div>
		<div class="float-right">
			<h2 style="text-shadow: 1px 1px white;">Projects - </h2>
			<p>At Dev Bootcamp, I had a chance to work on multiple projects from small programs just understand the language to more complex group client projects to expose us to working together in a larger group/pair setting.</p> 
			<p>The final project my group and I worked on was a mobile travel app that we were able to deploy onto an Apple phone utilizing xCode.  The name of the project was 'Road Warrior', an app to help you see your way down the road.</p>
		</div>
	</div>
	<!--.story-->
</div>
<!--#second-->
<div id="third">
	<div class="story">
		<div class="float-left">
			<h2 style="text-shadow: 1px 1px white;">Contact - </h2>
			<p>Feel free to contact me or look me up on social media.  You can also check what projects I'm working on at my <a href="">  GitHub </a> account. </p> 
		</div>
	</div>
	<!--.story-->
</div>
<!--#third-->
