<h1 style="text-shadow: 3px 3px black; font-size: 100px; text-align: center; margin-top: 200px; color: #D3F3FE">Hi, My name is Josh </h1>
	<div class="container">
		<table>
		  <th>
		  	A little Info
		  </th>
		  <tr>
		    <td>
		    	<h5 style="text-shadow: 1px 1px white;">About me - </h5>
		    </td>
		    <td>
		    	<p>Born and raised in the foothills of the Sierra Nevada Mountains in Northern California, where I spent most of my days floating down the American River, Hiking in the mountains or Snowboarding in the Sierra Resorts.  Now, I still enjoy all those things but get to include my family in my adventures</p>
					<p>After graduating from El Dorado High School I joined the United States Air Force, where I was able to travel the world and meet new and interesting people.  I completed my enlistment in 2004 and returned home to work in the family business, Home Building.  By 2010 I decided I need a change and went back to school enrolling at the local Junior College first then later at Grantham University.  I graduated in 2017 with a Bachelor of Science in Computer Science.  Feeling that I still need more education I applied and was accepted to Dev Bootcamp in San Francisco during the end of my course work in college.  I completed DBC in the fall of 2017 and now look forward to a promising and rewarding career in Software & App Development, both Web and Mobile.</p>
		    </td>
		  </tr>  
		</table>
	</div>

	<div class="container">
		<h5>Projects - </h5>
		<p>Ain't they awesome</p>
	</div>

	<div class="container">
		<h5>Family - </h5>
		<p>Ain't they awesome</p>
	</div>
